body{
    margin: 0;
    padding: 0;
    background: url("أفكار مواقع ويب مربحة.jpg");
    background-repeat: no-repeat;
}
form{
    position: absolute;
    top: 50%;
    left:19%;
    transform:translate(-50% ,-50%);
    width: 300px;
    height: 400px;
    background-color: rgb(48, 48, 48);
    border-radius: 15px;
    box-sizing:border-box ;
    box-shadow: 0 5px 25px rgba(1 1 1 / 100%);
    
}
img[alt="user"]{
    top: -50px;
    left: 100px;
    width: 290px;
     height: 150px;
     padding: 5px;
    text-align:center ;
    border-radius: 15px;
 }
form2{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50% ,-50%);
    width: 300px;
    height: 400px;
    background-color: rgb(48, 48, 48);
    border-radius: 15px;
    box-sizing:border-box ;
    box-shadow: 0 5px 25px rgba(1 1 1 / 100%);
    
}
img[ctrl="nfn"]
   {
    top: -50px;
    left: 100px;
    width: 290px;
     height: 150px;
     padding: 5px;
    text-align:center ;
    border-radius: 15px;
   }
form1{
    position: absolute;
    top: 50%;
    left:80%;
    transform:translate(-50% ,-50%);
    width: 300px;
    height: 400px;
    background-color: rgb(48, 48, 48);
    border-radius: 15px;
    box-sizing:border-box ;
    box-shadow: 0 5px 25px rgba(1 1 1 / 100%);
    
}
   img[alltt="userr"]{
    top: -50px;
    left: 100px;
    width: 290px;
     height: 150px;
     padding: 5px;
    text-align:center ;
    border-radius: 15px;
   }
   h3{
    text-align: center;
    color: black;

   }
   p{
       color: aliceblue;
       text-align: center;
   }
   h2{

    color: rgb(13, 134, 255);
    text-align: center;
    font-size: 30px;
    
   }
   a{
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-size: 40px;
    top: 60px;
    }
   header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    position: fixed;
    width: 95%;
    z-index:100 ;
    top: -40px;
    
}
input[value="NEXT"]{
    position: absolute;
    top:550px;
    left: 610px;
    width: 130px;
    height: 35px;
    background: #0d0d0e;
    border: none;
    outline: none;
    color:#fff;
    border-radius: 15px;
    font-size: 20px;
}
input[value="NEXT"]:hover{
    background: #fff;
    color: #0077ff;
}