body{
    margin: 0;
    padding: 0;
    background: url("برمجة-لاب.jpg");
    background-repeat: no-repeat;}
from{
    position: absolute;
    top: 55%;
    left:50%;
    transform:translate(-50% ,-50%);
    width: 300px;
    height: 400px;
    background-color: rgb(17, 16, 16);
    border-radius: 15px;
    box-sizing:border-box ;
    box-shadow: 0 5px 25px rgba(1 1 1 / 100%);
}
input[type="text"],[type="password"]{
    position:absolute;
    outline:none;
    border:none;
    width:250px;
    height: 35px;
    border-bottom: 2px solid #0094ff;
    background: none;
    padding: 5px;
    color: #fff;
}
input[type="text"]{
    top: 30px;
    left: 20px;
}
input[type="password"]{
    top: 90px;
    left: 20px;
}
input[value="NEXT"]{
    position: absolute;
    top:305px;
    left: 90px;
    width: 130px;
    height: 35px;
    background: #0077ff;
    border: none;
    outline: none;
    color:#fff;
    border-radius: 15px;
    font-size: 20px;
}
input[type="password1"]{
    position:absolute;
    outline:none;
    border:none;
    width:250px;
    height: 35px;
    border-bottom: 2px solid #0094ff;
    background: none;
    padding: 5px;
    color: #fff;
}
input[type="password1"]{
    top: 160px;
    left: 20px;
}
input[value="login"]:hover{
    background: #fff;
    color: #0077ff;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;
    top: 60px;
    }
   header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    position: fixed;
    width: 95%;
    z-index:100 ;
    top: -30px;
    
}
