body{
    margin: 0;
    padding: 0;
    background: url(9-خدمات-لبناء-مواقع-الويب-بدون-خبرة-برمجية.jpg);
    background-repeat: no-repeat;

}
form{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50% ,-50%);
    width: 350px;
    height: 420px;
    background:rgba(0, 0, 0, .5) ;
    border-radius: 15px;
    box-sizing:border-box ;
}
img[alt="user"]{
    position: absolute;
   top: -50px;
   left: 115px;
   width: 100px;
    height: 100px;
    border-radius:50% ;
    padding: 5px;
   text-align:center ;
   
}
h2{
    color: #fff;
    text-align: center;
    margin-top: 90px;
}
input[type="text"],[type="password"]{
    position:absolute;
    outline:none;
    border:none;
    width:250px;
    height: 35px;
    border-bottom: 2px solid #0094ff;
    background: none;
    padding: 5px;
    color: #fff;
}
input[type="text"]{
    top: 150px;
    left: 50px;
}
input[type="password"]{
    top: 210px;
    left: 50px;
}
input[value="login"]{
    position: absolute;
    top:305px;
    left: 110px;
    width: 130px;
    height: 35px;
    background: #0077ff;
    border: none;
    outline: none;
    color:#fff;
    border-radius: 15px;
    font-size: 20px;
}
input[value="login"]:hover{
    background: #fff;
    color: #0077ff;
}
p{
    position: absolute;
    top:360px;
    left:50px;
    color:#fff;
    cursor: pointer;
}
p:hover{
color: #72c9ff;
}
a{
    color: #FFF;
    text-decoration: none;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        position: fixed;
        width: 95%;
        z-index:100 ;
        top: -40px;
    }
    input[value="logup"]{
        position: absolute;
        top:370px;
        left:250px;
        width: 80px;
        height: 35px;
        background: #000000;
        border: none;
        outline: none;
        color:#fff;
        border-radius: 15px;
        font-size: 20px;
    }
    input[value="logup"]:hover{
        background: #fff;
        color: #0077ff;
    }
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 40px;
        top: 60px;
        }
       header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        position: fixed;
        width: 95%;
        z-index:100 ;
        top: -80px;
        
    }